/*  home */
#home{
    height: 820px;
}
/* headings*/
.headings{
    font-size:1.7rem;
}
/*Abouts*/

#pic img{
    width: 300px;
    height: 175px;
}
#intro h2{
    font-size: 1.5rem;
}
/*portfolio*/
.gallery image{
    width: 250px;
    height: 150px;
    margin: 10px;
}
/* contact*/
.input{
    width: 80%;
    
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}